<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.otbxsolutions.mobileapps.mooveyourbody"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.InstructionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_instruction"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.otbxsolutions.mobileapps.mooveyourbody.ui.MainActivity"/>
        </activity>
        <activity
            android:name=".ui.GameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.otbxsolutions.mobileapps.mooveyourbody.ui.MainActivity"/>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".ui.ScoreActivity"
            android:label="@string/title_activity_score"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.otbxsolutions.mobileapps.mooveyourbody.ui.MainActivity"/>
        </activity>
    </application>
</manifest>
